 ##########################

#

# Opacity

#

##########################

detect-client-opacity = true;

inactive-opacity = 0.75;

inactive-opacity-override = false;

alpha-step = 0.01;

opacity-rule = [
`"99:class_g = 'i3-frame'",`
`"99:class_g = 'Dmenu'",`
`"99:class_g = 'mpv'",`
`"0:_NET_WM_STATE@:32a *= '_NET_WM_STATE_HIDDEN'"`
]; 
